*{
	margin:0px;
	padding:0px;
	font-family: 'Fuente';
	/*font-family: 'Roboto', 'Sans-serif';*/
	font-weight: 200;
	text-rendering: optimizeLegibility;
}

@font-face{ 
	font-family: 'Fuente';
	src: url('css/f.eot');
	src: url('css/f.eot?iefix') format('eot'),
	     url('css/f.woff') format('woff'),
	     url('css/f.ttf') format('truetype'),
	     url('css/f.svg#webfont') format('svg');
}

body{
	overflow: hidden;
	-webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
          background: black;
}

button[disabled=true]{
	-webkit-filter:saturate(0%);
}

.loading{
	height: 0px;
	opacity: 0;
	visibility: hidden;
	-webkit-animation-name: desaparecer-log; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 10s; /* Chrome, Safari, Opera */
	-webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
	animation-name: desaparecer-log;
	animation-duration: 3s;
	animation-iteration-count: 1;
}

	@-webkit-keyframes desaparecer-log{
	    0% {opacity: .7; visibility: visible; height: 40px;}
	    10% {opacity: .7; visibility: visible; height: 40px;}
	    95% {opacity: .7; visibility: visible; height: 40px;}
	    100% {opacity: 0; visibility: visible; height: 0px;}
	}

.log{
	opacity: 1;
	-webkit-animation-name: aparecer-log; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 10s; /* Chrome, Safari, Opera */
	-webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
	animation-name: aparecer-log;
	animation-duration: 4s;
	animation-iteration-count: 1;
}

	@-webkit-keyframes aparecer-log{
	    0% {opacity: 0; visibility: visible;}
	    10% {opacity: 0; visibility: visible;}
	    80% {opacity: 0; visibility: visible;}
	    100% {opacity: 1; visibility: visible;}
	}

#load{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background: rgba(0,0,0,.7);
	z-index: 99999999;
}
#body-login{
	background: url(img/fondo-login.jpg) center center no-repeat;
	background-size: cover;
	text-align: center;
	overflow: scroll;
}

#body-login h1{
	color: white;
	font-size: 1.3em;	
	margin-bottom: 50px;
	font-weight: 200;
}

#body-login sub{
	color: rgba(255,255,255,.5);
}

#logo-login{
	height: 100px;
	margin-bottom:0px;
}

.login-input{
	width: 70%;
	height: 40px;
	margin-left: 15%;
	border: none;
	border-bottom: 1px solid rgba(255,255,255,.5);
	font-size: 1em;
	padding-left: 35px;
	outline: none;
	color: white;
	margin-bottom: 20px;
	float: left;
}
.login-input::-webkit-input-placeholder {
   color: rgba(255,255,255,.5);
}

.user{
	background: url(img/expediente.png) no-repeat;
	background-size: 20px;
	background-position: 5px 12px;
}

.pass{
	background: url(img/key.png) no-repeat;
	background-size: 20px;
	background-position: 5px 12px;
}

.btn{
	width: 70%;
	height: 50px;
	margin-left: 15%;
	border: none;
	border-radius: 25px;
	margin-top: 10px;
	background: #0094ea;
	color: white;
	font-size: 1.2em;
	outline: none;
	/*box-shadow: 0px 3px 0px 0px #0e3c57;*/
	float: left;
	position: relative;

}

	.btn img{
		height: 90%;
	}

.loading{
	opacity: .5;
}

#btn-login:active{
	transition: .1s all;
	-webkit-filter:brightness(110%);
}

.contenedor{
	width: 100%;
	/*background: url(img/fondo.jpg);*/
	height: 100%;
	float: left;
	position: fixed;
	z-index: 999;
	left: 0px;
	top: 0px;
}

.center{
	float: left;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	width: 100%;
}

.abajo{
	width: 100%;
	height: 80px;
	float: left;
	position: fixed;
	bottom: 0px;
	background: #3a4951;
	padding-top:7.5px; 
	box-sizing:border-box;
	z-index: 999;
}
#otro{
	float: left;
	position: relative;
	border-radius: 3px;
	border: none;
	width: 20%;
	height: 64px;
	outline: none;
	background: #0094ea;
	margin-left: 3%;
	/*box-shadow: 0px 5px 0px 0px #0b3147;*/
	border: none;
}
#otro>img{
	width: 80%;
}
#sos{
	float: right;
	/*position: fixed;*/
	border-radius: 32px;
	background: #d5443a;
	font-weight: bold;
	font-size: 2.4em;
	width: 70%;
	height: 64px;
	margin-right: 3%;
	border: none;
	/*box-shadow: 0px 5px 0px -1px #6d231e;*/
	outline: none;
	/*text-shadow: -0px -1px 0px rgba(0,0,0,.4);*/
	overflow: hidden;
	transition: 0 all;
	bottom: 10px;

}

	#sos p{
		color: white;
		text-align: center;
		width: 80%;
		box-sizing: border-box;
		padding-left: 20%;
		float: left;
		height: 64px;
		line-height: 64px;
		position: relative;
		font-weight: lighter;
		transition: .3s all;
		margin-top: -65px;
	}

	.max{
		width: 100%;
		height: 65px;
		float: left;
		overflow: hidden;
	}

	.time{
		width: 0%;
		float: left;
		background: rgba(255,255,255,.1);
		height: 64px;
		transition: .5s linear;
		overflow: hidden;
		border-radius: 31px;
	}

	.animacion-llenado{
		width: 100%;
		transition: 2s linear;
		transition-delay: .5s;
		background: rgba(255,255,255,.2);
		border: none;
		border-radius: 32px;
	}

	.amarillo{
		background: #ebb80c !important;
		transition: 2s linear !important;
		transition-delay: 1s;
	}

/*=====================boton redondo===============================*/
.btn-switch{
	float: right;
	position: fixed;
	width: 110px;
	height: 50px;
	z-index: 999;
	background: #3a4951;
	border-radius: 0px 0px 0px 5px;
	right: -1px;
	}


input[type=range] {
    -webkit-appearance: none;
    background-color: rgba(0,0,0,.3);
    width: 60px;
    height:30px;
    border-radius:17px;
    margin-left:5px;
    margin-top: 10px;
    outline:none;
    transition:.2s all;
    float: left;
    border: none;
}

input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background: #0094ea;
    opacity: 1;
    width: 30px;
    height: 30px;
    border-radius:50%;
    background-size: 50%;
    background-position: center center;
}



#sonido{
	width: 25px;
	height: 25px;
	margin-top: 13px;
	margin-left: 10px;
	opacity: .9;
	float: left;
}

.mudo:-webkit-slider-thumb { 
    background: #546e7a;
}

.btn-ajustes{
	float: left;
	/*margin-right: 10px;*/
	/*margin-top: 10px;*/
	position: fixed;
	width: 50px;
	height: 50px;
	background: #3a4951;
	border:none;
	border-radius: 0px 0px 5px 0px;
	outline: none;
	z-index: 999;
	left: 0px;
}
.btn-ajustes>img{
	float: left;
	width: 25px;
	margin-left: 12px;
	opacity: .9;
}

/*=====================================denuncias====================================*/
.con-denuncia{
	width: 100%;
	height: 100%;
	background: #E6E6E6;
}

.con-denuncia>h1{
	width: 100%;
	font-weight: 400;
	color: #464646;
	margin-left: 10px;
}
.inputs-denuncia{
	width: 100%;
	height: 50px;
	margin-top: 20px;
	margin-left: 5%;
}
.con-denuncia h3{
	float: left;
	position: relative;
	width: 100%;
	height: 20px;
	font-weight: 300;

}
.inputs-denuncia>input{
	float: left;
	position: relative;
	width: 100%;
	background: rgba(255,255,255,.4);
	height: 60%;
	border: none;
	border-radius: 5px;
	margin-top: 15px;
}

textarea{
	float: left;
	position: relative;
	width:90%;
	margin-left: 5%;
	border-radius: 5px;
}

.over{
	position: fixed;
	z-index: 9;
	float: left;
	left: 0px;
	top: 0%;
	width: 100%;
	height: 105%;
	background: url(img/load.gif) no-repeat;
	background-position: center center;
	background-size: 10%;
}



.login{
	display: none !important;
}


.info-img{
	float: left;
	width: 100%;
	padding: 0 auto;
	position: relative;
	margin-bottom: 10px;
}

	.info-img>img{
		width: 80px;
		border-radius: 5px;
	}

.info-p{
	width: 100px;
	position: relative;
}

.white{
	-webkit-filter:invert(100%) brightness(200%);
}

/*=================*/

.mapboxgl-ctrl-top-left{
	position: fixed;
	right: 10px;
}

.mapboxgl-ctrl{
	margin-top: 50px;
}

.mapboxgl-marker{
	background: #3a4951;
	border-radius: 50%;
	padding: 5px;
	box-shadow: 0px 20px 10px -8px rgba(0,0,0,.4);
	background-size: 100% 100%;
	width: 80px;
	margin-left: -30px;
	box-sizing: border-box;
	/*transition: .1s all;*/
}

	.mapboxgl-marker img{
		height:70px;
		border-radius: 50%;
		/*margin-left: 20%;*/
		/*margin-top: 5px;*/
	}

	.mapboxgl-marker h1{
		text-align: center;
		font-size: 1.2em;
		line-height: 1;
		font-weight: 300;
		color: white;
		margin-top: 5px;
		margin-bottom: 10px;
	}
	
	.triangulo{
		width: 0px;
		height: 0px;
		float: left;
		border-right: 10px solid transparent;
		border-left: 10px solid transparent;
		border-bottom: 15px solid transparent;
		border-top: 15px solid #3a4951;
		position: absolute;
		bottom: -25px;
		margin-left: 25px;

	}

	.nivel-medio{
		background: #ebb80c;
	}

	.nivel-alto{
		background: #d5443a;
	}

	.nivel-alto .triangulo{
		border-right: 10px solid transparent;
		border-left: 10px solid transparent;
		border-bottom: 15px solid transparent;
		border-top: 15px solid #F04336 !important;
	}

	.nivel-medio .triangulo{
		border-right: 10px solid transparent;
		border-left: 10px solid transparent;
		border-bottom: 15px solid transparent;
		border-top: 15px solid #F1C40F !important;
	}

	.disabled{
		transition:.1s all !important;
		background: #3a4951 !important;
		box-shadow: 0px 4px 0px 0px #292929 !important;
		font-size: 30px !important;
	}

	.disabled-normal{
		transition:.1s all !important;
		background: #6a818c !important;
		box-shadow: 0px 4px 0px 0px #292929 !important;
		color: #c0cfd6 !important;
		opacity: .7;
	}

	.alerta-amarilla{
		text-align: center !important;
		color:#F1C40F !important;
		width:100% !important;
		margin-bottom: 10px;
	}

	.alerta-roja{
		text-align: center !important;
		color:#F79A93 !important;
		width:100% !important;
		margin-bottom: 10px;
	}

	#msj{
		width: 100%;
		z-index: 999999999999999999;
		text-align: center;
		position: fixed;
		float: left;
		background: rgba(213,68,58,.9);
		color: white;
		box-shadow: 0px 5px 5px 2px rgba(0,0,0,.1);
		border-bottom: 1px solid rgba(255,255,255,.2);
		top: -50%;
		transition:.3s all;
		color: rgba(255,255,255,.7);
		font-size: 1em;
		padding: 10px;
		box-sizing: border-box;
	}

	

	#msj2{
		width: 100%;
		z-index: 999999999999999999;
		text-align: center;
		position: fixed;
		float: left;
		background: rgba(213,68,58,.9);
		color: white;
		box-shadow: 0px 5px 5px 2px rgba(0,0,0,.1);
		border-bottom: 1px solid rgba(255,255,255,.2);
		top: -50%;
		transition:.3s all;
		color: rgba(255,255,255,.7);
		font-size: 1em;
		padding: 10px;
		box-sizing: border-box;
	}

	.show-msj{
		-webkit-animation-name: aparecer; /* Chrome, Safari, Opera */
	    -webkit-animation-duration: 10s; /* Chrome, Safari, Opera */
	    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
	    animation-name: aparecer;
	    animation-duration: 10s;
	    animation-iteration-count: 1;
	}

		#msj2 h1, #msj h1{
			margin: 0px;
			font-size: 1.1em;
		}

		#msj2 p, #msj p{
			margin: 0px;
			font-size: .9em;
		}

	@-webkit-keyframes aparecer {
	    0% {top: -50%;}
	    10% {top: 0%;}
	    80% {top: 0%;}
	    100% {top: -50%}
	}


	.menu{
		width: 60%;
		float: left;
		position: fixed;
		z-index: 9999999999999999999999999999999999;
		background: #293339;
		height: 100%;
		box-shadow: 5px 0px 15px 1px rgba(0,0,0,.3);
		left: -100%;
		transition: .3s all;
	}

	.cerrar{
		width: 50px;
		height: 50px;
		float: right;
		outline: none;
		border: none;
		background: rgba(0,0,0,0.3);
		border-radius: 0px 0px 0px 5px;
		z-index: 99999;
		position: absolute;
		right: 0px;
	}

	.cerrar>img{
		float: left;
		width: 30px;
		margin-left: 10px;
		opacity: .9
	}

	.menu ul{
		width: 100%;
		float: left;
		position: relative;
		/*background: red;*/
		box-sizing: border-box;
		font-size: 1.1em;
		color: rgba(255,255,255,.8);
	}

	.menu li{
		padding: 0px 10px;
		height: 40px;
		line-height: 40px;
	}


	.usuario{
		width: 100%;
		float: left;
		position: relative;
		background: url(img/fondo-login.jpg);
		padding: 30px 0px;
		background-position: center;
		background-size: 100%;
	}

	.usuario>img{
		max-width: 40%;
		margin-left: 30%;
		border-radius: 50%;
	}

	.usuario>h1{
		font-size: 1.1em;
		color: white;
		font-weight: lighter;
		text-align: center;
		width: 90%;
		margin-left: 5%;
		float: left;
		line-height: 1.1;
		margin-top: 10px;
	}

	.show-menu{
		left: 0px;
	}

	.mapa-opacity{
		opacity: .5
	}

	#mapa{
		transition:.3s all;
	}

	.med{
		width: 25%;
		float: right;
		position: relative;
		right: -35%;
		height: 64px;
		margin-top: -65px;
		text-align: center;
		background: #d5443a;
		transition:.2s all;
		border: none;
		/*border-left: 2px solid #764b07;*/
	}

	.show-med{
		right: 0px;
	}

	.med>img{
		height: 50%;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		margin: auto;
		position: absolute;
		opacity:1;
	}
	.amarillo>p{
		
	}

	.p-med{
		padding-left: 0px !important;
	}

	#debug>sub{
		font-size: .3em;
		margin-top: -20px;
	}


	/*===============================================================*/

/*	.over-mini{
		width: 100%;
		height: 250px;
		z-index: 9;
		float: left;
		background: url(img/load.gif) no-repeat;
		background-position: center center;
		background-size: 10%;
		margin-top: 50px;
	}

	.mini-mapa{
		height: 240px;
		overflow: scroll;
	}

	*/

	.form{
		width: 100%;
		height: 100%;
		overflow: scroll;
	}
		.form>h1{
			text-align:center;
			margin-top: 50px;
			float: left;
			width: 90%;
			margin-left: 5%;
			margin-bottom: 30px !important;
			font-size: 1.5em !important;
			font-weight: normal;
		}

		.form>select{
			width: 90%;
			height: 40px;
			background: rgba(255,255,255,.3);
			color: white;
			float: left;
			margin-left: 5%;
			font-size: 1.1em;
			border: none;
			border-radius: 3px;
			box-sizing: border-box;
			padding-left: 5px;

		}

		.form>textarea{
			width: 90%;
			height: 40px;
			background: white;
			float: left;
			margin-left: 5%;
			font-size: 1.1em;
			height: 120px;
			border: none;
			border-radius: 3px;
			margin-top: 10px;
			background: rgba(255,255,255,.3);
			color: white;
			box-sizing: border-box;
			padding-left: 5px;
			max-height: 120px;
			min-height: 120px;
			min-width: 90%;
			max-width: 90%;
			resize: none;
		}

		.form>textarea::-webkit-input-placeholder{
			color: rgba(255,255,255,.7);
		}

		.form>input[type="file"]{
			width: 0.1px;
			height: 0.1px;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			z-index: -1;
		}

		.file{
			width: 90%;
			height: 40px;
			background: #3a4951;
			float: left;
			margin-left: 5%;
			margin-top: 10px;
			text-align: center;
			line-height: 40px;
			border: none;
			border-radius: 3px;
			color: white;
			overflow: hidden;
		}

		.file:before{
			content: url(img/adjunto.svg);
			-webkit-filter:invert(100%);
			margin-right: 10px;	
		}

		.form>button{
			width: 42.5%;
			margin-left: 5%;
			float: left;
			height: 50px;
			margin-top: 40px;
			font-size: 1.2em;
			border: none;
			border-radius: 25px;
			outline: none;
			color: white;
		}

		.cancelar{
			background: #d3394c;
		}

		.aceptar{
			background: #0094ea;
		}

		.file>img{
			margin-right: 10px;
			-webkit-filter:invert(100%);
		}


*{
	outline: none;
}

.vigilante{
	width: 100%;
	position: fixed;
	height: 100px;
	background: red;
	z-index: 9999999999;
	float: left;
	bottom:-100px;
	left: 0px;
}



